VITE_FIREBASE_API_KEY=AIzaSyBy1Qyf-v0swTbrrBhSYRTRUPD-M45KUIA
VITE_FIREBASE_AUTH_DOMAIN=arenasimonesia.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=arenasimonesia
VITE_FIREBASE_STORAGE_BUCKET=arenasimonesia.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=76727417673
VITE_FIREBASE_APP_ID=1:76727417673:web:a9f2c67f7383df60adf898
VITE_FIREBASE_MEASUREMENT_ID=G-B531FJ8FZ3

