VITE_FIREBASE_API_KEY=AIzaSyB5p94AGRA75Y8KsdAs1lgi4bmO_hcwcpM
VITE_FIREBASE_AUTH_DOMAIN=rumo-ao-esporte.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rumo-ao-esporte
VITE_FIREBASE_STORAGE_BUCKET=rumo-ao-esporte.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=805204047919
VITE_FIREBASE_APP_ID=1:805204047919:web:4d9ca4b500a99bb8836eda
VITE_FIREBASE_MEASUREMENT_ID=G-YNWT12CVBP
VITE_WORKER_URL=https://rumo-ao-esporte-whatsapp-proxy.rumoaoesporte.workers.dev
VITE_MESSAGING_API_URL=https://rumo-ao-esporte-whatsapp-proxy.rumoaoesporte.workers.dev
VITE_PAYMENT_API_URL=https://rumo-ao-esporte-whatsapp-proxy.rumoaoesporte.workers.dev
VITE_MAIN_ADMIN_EMAIL=rumoaoesporte@admin.com
